<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-none d-md-flex justify-content-center" itemscope itemtype="https://schema.org/BreadcrumbList">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="breadcrumb-item {{#if @last}}active{{/if}}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    {{#if @last}}
                        <span class="breadcrumb-label"
                            itemprop="item"
                            aria-current="page"
                        >
                            <span itemprop="name">{{name}}</span>
                        </span>
                    {{else}}
                        <a class="breadcrumb-label"
                            itemprop="item"
                            href="{{url}}"
                        >
                            <span itemprop="name">{{name}}</span>
                        </a>
                    {{/if}}
                    <meta itemprop="position" content="{{add @index 1}}" />
                </li>
            {{/each}}
        {{/unless}}
    </ol>
</nav>
