<li class="nav-item dropdown mcd-expanded-only">
    <a class="nav-link dropdown-toggle mcdesign-cart-dropdown" href="#" id="cartDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Cart
        <span class="badge rounded-pill bg-secondary mcdesign-cart-quantity"></span>
    </a>
    <ul class="dropdown-menu mcdesign-cart-dropdown-content" id="mcdesign-cart-dropdown-content-full" aria-labelledby="cartDropdownMenuLink" style="min-width: 22rem;">
        {{!-- This will get filled in using js --}}
    </ul>
</li>
