{{#if cart.items.length}}
    {{#each (limit cart.items 4)}}
        {{> components/common/cart-dropdown-item2 product=this}}
    {{/each}}
    {{#if cart.items.length ">" 4}}
        <li>
            <div class="d-flex justify-content-center">
                <i class="bi bi-three-dots"></i>
            </div>
        </li>
    {{/if}}
    <li><hr class="dropdown-divider" /></li>
    <li>
        <div class="row g-0 px-1">
            <div class="col-md-2 col-lg-4"></div>
            <div class="col-md-4 me-auto">
                <p class="fs-5">Subtotal:</h4>
            </div>
            <div class="col-md-3 pe-1">
                <p class="fs-5 text-primary">{{cart.sub_total.formatted}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-evenly">
            <a class="btn btn-primary text-nowrap" href="{{urls.checkout.single_address}}">Check out</a>
            <a class="btn btn-secondary text-nowrap" href="{{urls.cart}}">View Cart</a>
        </div>
    </li>
    {{#if cart.additional_checkout_buttons.length}}
        {{log cart.additional_checkout_buttons.length}}
        <li><hr class="dropdown-divider" /></li>
        <div class="d-flex justify-content-center">
            {{#each cart.additional_checkout_buttons}}
                {{{this}}}
            {{/each}}
        </div>
    {{/if}}

{{else}}
    <p class="p-4 text-muted">Cart is empty</p>
{{/if}}
