<fieldset class="mcd-addon-fieldset border-0">
    <div class="row">
        <legend class="col-form-label h5 mt-1">Add ons</legend>
    </div>
    <div class="row" id="freeAddOnSection">
        <label for="freeAddOnSelect" class="col-form-label col-3">Free Add Ons:</label>
        <div class="col-9">
            <select class="form-select" id="freeAddOnSelect">
                <option selected value="">Select 1 free add on</option>
            </select>
        </div>
    </div>
    <fieldset class="mcd-additional-addons-fieldset row row-cols-1 border-0">
        <legend class="col-form-label col">Additional add ons</legend>
        <div class="col" id="additionalAddOns">
            
        </div>
    </fieldset>
</fieldset>